<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mapper.EmpMapper">
    <!--    只需配置一个参数：namespace：为需映射sql类的reference(右键类名复制)-->
<!--id:为方法的名字，resultType：为查询返回的单条记录所封装的类型-->
<!--                       where e.name like '%#{name}%' 在引号中不能使用#{}，因为在编译后会被替换成?，-->
<!--                       而？在引号中不再是占位符，而是字符串，所以要用concat拼接字符串-->

    <!--<select id="list" resultType="com.hjh.bean.Emp">
        select e.* ,d.name deptName from emp e left join dept d on e.dept_id = d.id
        where e.name like concat('%',#{name},'%')
            and e.gender = #{gender}
            and e.entry_date between #{begin} and #{end}
        order by e.update_time desc
    </select>-->



<!--    动态sql，优化查询条件-->
<!--    由于模糊查询的条件是可选的，每次查询的条件个数是变化的，所以sql语句不能直接写死，要添加<>标签-->

    <!--<if>：判断条件是否成立，如果条件为true，则拼接SQL。（会出现and多余或缺少问题）
    <where>：根据查询条件，来生成where关键字，并会自动去除条件前面多余的and或or。-->
    <select id="list" resultType="com.hjh.bean.Emp">
        select e.* ,d.name deptName from emp e left join dept d on e.dept_id = d.id
                                    <where>
                                        <if test="name !=null and name !=''">
                                            e.name like concat('%',#{name},'%')
                                        </if>
                                        <if test="gender !=null">
                                            and e.gender = #{gender}
                                        </if>
                                        <if test="begin !=null and end !=null">
                                            and e.entry_date between #{begin} and #{end}
                                        </if>
                                    </where>

                                    order by e.update_time desc
    </select>

    <!--    删除员工基本信息-->
    <delete id="deleteByIds">
        delete from emp where id in
                        <foreach collection="ids"  item="id" separator="," open="(" close=")">
                            #{id}
                        </foreach>
    </delete>



    <!--    修改员工信息（查询回显）-->
<!--    注意：resultType为系统提供的自动封装，而此时使用下面的sql语句执行结果会有多条数据，
            因为员工的工作经历可能有多条，此时用系统的自动封装会出错（直接将完整的多条数据赋给了一个对象），
            所以需要手动封装resultMap ，将多的数据赋值给对象中的集合中-->
    <!--<select id="getInfo" resultType="com.hjh.bean.Emp">
        select e.*,
               ee.id ee_id,
               ee.emp_id ee_empid,
               ee.begin ee_begin,
               ee.end ee_end,
               ee.company ee_company,
               ee.job ee_job
        from emp e left join emp_expr ee on e.id=ee.emp_id
        where e.id = #{id}
    </select>-->
    
<!--    先定义resultMap的内容，id为主键的标签,result为普通字段的标签
        将sql查询完的结果column封装到property属性中，并返回结果type对象-->
    <resultMap id="resultMap" type="com.hjh.bean.Emp">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="job" property="job"/>
        <result column="salary" property="salary"/>
        <result column="image" property="image"/>
        <result column="entry_date" property="entryDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

<!--        封装工作经历信息，ofType为集合元素的类型-->
        <collection property="exprList" ofType="com.hjh.bean.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="ee_empid" property="empId"/>
            <result column="ee_begin" property="begin"/>
            <result column="ee_end" property="end"/>
            <result column="ee_company" property="company"/>
            <result column="ee_job" property="job"/>
        </collection>
    </resultMap>

<!--    使用resultMap的封装方法-->
    <select id="getInfo" resultMap="resultMap">
        select e.*,
               ee.id ee_id,
               ee.emp_id ee_empid,
               ee.begin ee_begin,
               ee.end ee_end,
               ee.company ee_company,
               ee.job ee_job
        from emp e left join emp_expr ee on e.id=ee.emp_id
        where e.id = #{id}
    </select>


    <!--    修改员工基本信息-->
    <update id="updateById">
        update emp
        <set>
            <if test="username !=null and username!=''">username = #{username},</if>
            <if test="password !=null and password!=''">password = #{password},</if>
            <if test="name !=null and name!=''">name = #{name},</if>
            <if test="gender !=null ">gender = #{gender},</if>
            <if test="phone !=null and phone!=''">phone = #{phone},</if>
            <if test="job !=null ">job = #{job},</if>
            <if test="salary !=null ">salary = #{salary},</if>
            <if test="image !=null and image!=''">image = #{image},</if>
            <if test="entryDate !=null ">entry_date = #{entryDate},</if>
            <if test="deptId !=null ">dept_id = #{deptId},</if>
            <if test="updateTime !=null ">update_time = #{updateTime},</if>

        </set>

        where id = #{id}
    </update>


<!--    统计员工职位信息
        由于前端想要的数据是job集合（职位的名称），和对应数据的集合，
        所以需要用case将查询返回的数字改为职位。
        执行的结果是多行两列，一列pos，一列num
        -->
    <select id="countEmpJobData" resultType="java.util.Map">
        select
            (case when job=1 then '班主任'
                 when job=2 then '讲师'
                 when job=3 then '学工主管'
                 when job=4 then '教研主管'
                 when job=5 then '咨询师'
                 else '其他'end) pos,
                count(*) num
        from emp group by job order by num
    </select>


    <!--    统计员工性别信息
            如果查询返回的结果要修改成别的名字，要么用case，要么用if，
            匹配多个值用case，两个值用if-->
    <select id="countEmpGenderData" resultType="java.util.Map">
        select if(gender = 1, '男性员工', '女性员工') as name,
               count(*)                                  value
        from emp
        group by gender
    </select>


</mapper>